<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>Sunny</title>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--导航-->
<div th:replace="~{nav::header-common}"></div>

<div class="container-fluid main-publish">
    <!--帖子列表-->
    <div class="row">
        <!--左边栏-->
        <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;发现</h3>
            <hr class="main-hr"/>
            <div th:each="note : ${notes}" class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded img-circle" data-src="holder.js/64x64" alt="64x64"
                             th:src="${note.avatarUrl}"
                             data-holder-rendered="true" style="width: 60px; height: 60px;" src="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading media-body-h4">
                        <a th:text="${note.title}" th:href="'/note/'+${note.noteId}"></a>
                    </h4>
                    <p class="question-content page">
                        <span th:text="${note.label}">tags|tags|tags</span>
                        &nbsp;•&nbsp;<span th:text="${note.commentCount}"></span>&nbsp;个回复
                        &nbsp;•&nbsp;<span th:text="${note.commentCount}"></span>&nbsp;次浏览
                        &nbsp;•&nbsp;<span th:text="${note.createTime}"></span>
                    </p>
                </div>
                <hr class="media-body-hr"/>
            </div>
            <!--分页-->
            <div th:replace="nav::pages"></div>
        </div>
        <!--右边栏-->
        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 ">
            <h3><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;热门话题</h3>
        </div>
    </div>
</div>
</body>
</html>