<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title th:text="${note.title} + ' - Sunny'"></title>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--导航-->
<div th:replace="~{nav::header-common}"></div>

<div class="container-fluid main-publish">
    <!--帖子列表-->
    <div class="row">
        <!--左边栏-->
        <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
            <h3>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span th:text="'&nbsp;' + ${note.title}"></span>
            </h3>
            <p class="question-content page">
                &nbsp;&nbsp;<span th:text="${note.label}"></span>&nbsp;&nbsp;&nbsp;
                &nbsp;作者&nbsp;<span th:text="${user.name}"></span>&nbsp;|
                &nbsp;发布于&nbsp;<span th:text="${note.createTime}"></span>&nbsp;|
                &nbsp;阅读数&nbsp;<span th:text="${note.commentCount}"></span>
            </p>
            <hr class="main-hr"/>
            <!--文本-->
            <div th:text="${note.description}"></div>
            <hr class="note-edit-hr"/>
            <!--编辑-->
            <div th:if="${canEdit}">
                <a th:href="'/publish/'+${note.noteId}" class="note-edit">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
                </a>
            </div>
        </div>
        <!--右边栏-->
        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 ">
            <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;发起人</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded img-circle" data-src="holder.js/64x64" alt="64x64"
                             th:src="${user.avatarUrl}"
                             data-holder-rendered="true" style="width: 50px; height: 50px;" src="">
                    </a>
                </div>
                <div class="media-body">
                    <h5></h5>
                    <div class="media-heading media-body-h4">
                        <a th:text="${user.name}" href="#"></a>
                    </div>
                </div>
            </div>
            <hr class="main-hr"/>
            <h3><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;相关问题</h3>
        </div>
    </div>
</div>
</body>
</html>