<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>iHome - Sunny</title>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--导航-->
<div th:replace="~{nav::header-common}"></div>

<div class="container-fluid main-publish">
    <!--列表-->
    <div class="row">
        <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
            <h3>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                <span th:text="${active_name}"></span>
            </h3>
            <hr class="main-hr"/>
            <div th:each="note : ${notes}" class="media">
                <div class="media-body">
                    <h4 th:text="${note.title}" class="media-heading media-body-h4">问题标题</h4>
                    <p class="question-content page">
                        <span th:text="${note.label}">tags|tags|tags</span>
                        &nbsp;•&nbsp;<span th:text="${note.commentCount}"></span>&nbsp;个回复
                        &nbsp;•&nbsp;<span th:text="${note.commentCount}"></span>&nbsp;次浏览
                        &nbsp;•&nbsp;<span th:text="${note.createTime}"></span>
                    </p>
                </div>
                <hr class="media-body-hr"/>
            </div>
            <!--分页-->
            <div th:replace="nav::pages"></div>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 ">
            <h3><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;个人中心</h3>
            <div class="list-group">
                <a href="/profile/question" class="list-group-item" th:classappend="${active=='question'}?'active'">
                    <span class="badge">14</span>我的问题</a>
                <a href="/profile/replays" class="list-group-item" th:classappend="${active=='replays'}?'active'">
                    <span class="badge">14</span>最新回复</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>