<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>Publish - Sunny</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" media="screen" href="/css/community.css"/>
</head>
<body>
<!--导航栏-->
<div th:replace="~{nav::header-publish}"></div>

<div class="container-fluid main-publish">
    <div class="row">
        <!--发布栏-->
        <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;
                <span th:if="${noteId}!=null">修改</span>
                <span th:if="${noteId}==null">发起</span>
            </h3>
            <hr class="main-hr"/>
            <form action="/publish" method="post">
                <!--错误展示-->
                <div th:if="${error}!=null" class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <strong th:text="${error}"></strong>
                    提交失败，请检查重试！
                </div>
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）:</label>
                    <input th:value="${title}" type="text" class="form-control" id="title" name="title"
                           placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充 (必填，请参照`问题发起指南`):</label>
                    <textarea th:text="${description}" class="form-control" id="description" name="description"
                              rows="15"></textarea>
                </div>
                <div class="form-group">
                    <label for="label">添加标签（以"|"隔开）:</label>
                    <input th:value="${label}" type="text" class="form-control  " id="label" name="label"
                           placeholder="创建或搜索添加新话题...">
                </div>
                <!--noteId传输-->
                <input th:if="${noteId}!=null" th:value="${noteId}" name="noteId" type="hidden"
                       class="form-control  " id="noteId">
                <button type="submit" class="btn btn-success btn-publish"> 确认发起</button>
            </form>
        </div>
        <!--注意事项-->
        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 ">
            <h3>问题发起指南</h3>
            <p>• 问题标题: 请用精简的语言描述您发布的问题，不超过25字</p>
            <p>• 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观</p>
            <p>• 选择标签: 各个标签以"|"隔开，选择一个或者多个合适的标签，不超过10个字</p>
        </div>
    </div>
</div>

</body>
</html>